@import 'function.scss';

.my-border{
    border: 1px solid $primary-color;
    margin-left: 28px;
    margin-right: 28px;
    background-color: #F4FAFF;
}

.card{
    border: 1px solid $primary-color;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    .card-header{ 
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: $primary-color;
        color: white;
        
    }
    .card-body{
        background-color: #f4faff;
        color: $primary-color;
    }
}